<!DOCTYPE html>
<html>
    <head>
        <title>Student List Form</title>
    </head>
    <body>
        <h1> Enter the ID of the Student You Wish to Delete </h1>
        <div id = "form_div">
            <form id="student_form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" id="submit_button" value="submit">
            </form>
        </div>
        <h1> Student List </h1>
        <div id="table_div">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>ID Number</th>
                        <th>Year in School</th>
                        <th>Major</th>
                        <th>GPA</th>
                        <th>Date Created</th>
                        <th>Date Modified</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in object_list %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.lastname }}</td>
                            <td>{{ student.idnumber }}</td>
                            <td>{{ student.schoolyear }}</td>
                            <td>{{ student.major }}</td>
                            <td>{{ student.gpa }}</td>
                            <td>{{ student.datecreated }}</td>
                            <td>{{ student.datemodified }}</td>
                    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>